<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Post Deatail {% endblock %}</title>
</head>
<body>
    {% block content %}
        {% if title != None %}
            <h2>The detail view for post</h2>
            <p>Title: {{ title }}, description: {{ details }}</p>
        {% else %}
            <p>Nothing to view here!</p>
        {% endif %}
    {% endblock %}
</body>
</html>
